[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-database-url = "*"
sentry-sdk = "*"
python-decouple = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
#nova
